{% extends "common/base.html" %}

{% block body %}

    <div class="container-fluid wrap">
        {% include "common/toolbar_sub.html" %}
        <div class="jumbotron">
            <h1>Change Password</h1>
        </div>

        <div class="row">

            <div class="col-xs-12 col-sm-12">
                <form method="post"  data-toggle="validator">
            {% csrf_token %}
                    <div class="form-group">
                        <label for="old_password">Old Password</label>
                        <input type="password" class="form-control" name="old_password"
                               placeholder="Old Password" value="{{ old_password }}" required>
                    </div>
                    <div class="form-group">
                        <label for="new_password">New Password</label>
                        <input type="password" class="form-control" name="new_password"
                               placeholder="New Password" required id="new_password">
                    </div>
                    <div class="form-group">
                        <label for="confirm_password">Confirm Password</label>
                        <input type="password" class="form-control" name="confirm_password"
                               placeholder="Confirm Password" required data-match="#new_password">
                    </div>
                    <div class="form-group">
                            <input type="submit" value="Change Password" class="btn btn-default"/>
                    </div>
                </form>
            </div>
        </div>
        {% if error and error != '' %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endif %}
    </div>

{% endblock %}

{% block javascript %}


{% endblock %}
