    <div class="row">
        <div class="col-xs-3 col-sm-3" align="left">
            <a href="javascript:history.back()">
                <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
            </a>
        </div>
        <div class="col-xs-6 col-sm-6 text-center">
            <a href="/">
                <img src="/static/img/logo-small.png" height="40" >
               <!-- <span class="h1">Y</span><img src="http://res.cloudinary.com/yopo/image/upload/c_fill,h_32,r_16,w_32/v1476786416/favicon.png" width="32" style="margin-bottom: 10px;"/><span class="h1">PO</span>
           -->  </a>
        </div>
        <div class="col-xs-3 col-sm-3 text-right" >
            <!--<button type="button" class="btn btn-default btn-lg" >
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
            </button>-->
            <a href="/message"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <span class="badge"></span></a>
        </div>
    </div>